<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.debug.core.groups.GroupLaunchConfigurationType">
    <booleanAttribute key="com.cypress.studio.launch.hide" value="false"/>
    <stringAttribute key="com.cypress.studio.launch.owner.0" value="9a2da62f-8eaa-4b1c-959a-5cccf41e47ac"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.0.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.0.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.name" value="Capsense_PWM2CH_CM0p.proj_cm0p Debug (KitProg3_MiniProg4)"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.1.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.1.enabled" value="false"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.name" value="Capsense_PWM2CH_CM0p.proj_cm4 Add CM4 to CM0+ (KitProg3_MiniProg4)"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
</launchConfiguration>
